@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Ledger");

* {
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Ledger";
}

body {
	background-size:cover;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  overflow: hidden;
}

#info {
  position: absolute;
  font-family: Caveat;
  color: #F1CFA0;
  padding-top: 15px;
  font-size: 5vh;
  opacity: 0.7;
}

.shaker {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.dialog {
  z-index: 10;
  top: 30vh;
  transform: translateY(30vh);
  margin: 0 auto;
  width: 30vw;
  background-color: #f1cfa0;
  text-align: center;
  min-width: 200px;
  box-shadow: 10px 10px #613024;
}

.dialog:after {
  content: "";
  display: block;
  padding-bottom: 0;
}

.shadow {
  width: 100%;
  height: 0;
  padding-left: 50%;
  padding-top: 30%;
  overflow: hidden;
}

.shadow div {
  width: 0;
  height: 0;
  margin-left: -1000px;
  margin-top: -600px;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 600px solid #f2a71e;
  /*    box-shadow: 10px 10px #c98510;*/
}

#stamp-envelope {
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 0;
  height: 0;
  padding-left: 13%;
  padding-top: 14%;
  margin-bottom: 20%;
  /*    overflow:hidden;*/
  margin-top: -12.5%;
  background-color: #d34f27;
  border: 2px solid #d34f27;
  color: #f2a71e;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 2px 3px #93321a;
}

@media screen and (max-height: 400px) {
  .dialog {
    top: 20vh;
    transform: translateY(20vh);
    width: 20vw;
  }

  .stamp.hvr-buzz p {
    font-size: 2vw;
    margin-left: -2.2vw;
    margin-top: -2.8vw;
  }
}

.stamp-wrapper {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

#stamp-footer {
  display: inline-block;
  padding: 16px 25px;
  color: #f2a71e;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px solid #d34f27;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #be3d28;
}

.stamp:hover {
  animation-name: hvr-buzz;
}

.stamp:active {
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.message {
  display: none;
  position: absolute;
  width: 600px;
  max-height: 80vh;
  margin-left: -300px;
  left: 50vw;
  top: 7vh;
}

.part-one {
  position: relative;
  background-color: #f1cfa0;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-header {
  width: inherit;
  height: 5vh;
  background-color: #863420;
}

.message-text {
  padding: 40px 30px;
  padding-bottom: 0px;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: "Caveat", cursive;
  color: #3a736c;
  font-size: xx-large;
}

.message-footer {
  /*    position: absolute;*/
  bottom: 0;
  background-color: #a93923;
  width: 400px;
  height: 5vh;
}

#stamp-footer {
  /*    position: absolute;*/
  right: 30px;
  bottom: 60px;
  padding: 0 0;
  padding-top: 10px;
  width: 60px;
  height: 60px;
  margin-top: -34px;
}

#ui {
  position: absolute;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
}

.dg.ac {
  z-index: 1000 !important;
}

/* Scrollbar edit for chrome just for fun. */
#part-one-message::-webkit-scrollbar-track {
  background-color: #254f49;
}

#part-one-message::-webkit-scrollbar {
  width: 10px;
}

#part-one-message::-webkit-scrollbar-thumb {
  background-color: #427f77;
}

#devtownLogo {
	position: absolute;
	display: inline-block;
	height: 60px;
	width: 60px;
	top: 60px;
	left: 60px;
	background-color: #f1cfa0;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #d34f2f;
}

#devtownLogo :hover {
	transform: scale(2);
}

  #roof {
	position: absolute;
	width: 47.923333%;
	height: 20.236667%;
	margin: 22% 26.0383335% 57.763333%;
   }
  
  #roof > div {
	position: absolute;
	width: 60%; height: 34%;
	background: #d34f2f;
	border-radius: 0.1rem;
  }
  
  #roof div:first-of-type {
	left: -7%;
	top: -2%;
	width: 62%;
	transform:rotate(328deg);
	transform-origin: 100%;
  }
  
  #roof div:last-of-type {
	right: -7%;
	transform:rotate(32deg);
	transform-origin: 0;
  }
  
  #pound {
	position: absolute;
	width: 38.503333%;
	height: 38.046667%;
	margin: 40% 30.7483% 21.4966%;
  }
  
  #pound > div {
	background: #d34f2f;
	position: absolute;
	border-radius: 0.1rem;
  }
  
  #pound div:first-of-type {
	left: 0; 
	margin: 0 60% 0 22%;
	width: 18%; 
	height: 100%;
  }
  
  #pound div:nth-of-type(2) {
	right: 0;
	margin: 0 22% 0 60%;
	width: 18%; 
	height: 100%;
  }
  
  #pound div:nth-of-type(3) {
	right: 0;
	margin: 22% 0 60% 0;
	width: 100%;
	height: 18%;
  }
  
  #pound div:last-of-type {
	right: 0;
	margin: 60% 0 22% 0;
	width: 100%; 
	height: 18%;
  }
  
  .logoOverlay {
	opacity: 0.5;
	position: absolute;
	height: 300px; width: 300px;
	background: url("https://i.imgur.com/qDLI7xo.png") center center no-repeat;
	background-size: cover;
  }

  a:link {
	color: none;
	text-decoration: none;
  }
  
  a:visited {
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: none;
  }
  
  a:active {
	text-decoration: none;
  }